#root {
  text-align: center;
  width: 100%;
}

body {
  background-color: var(--bs-gray-200);
}

* {
  padding: 0;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 15.5% 1fr;
  grid-template-rows: calc(100vh - 60px);
  grid-template-areas: "aside products";
}

@media (max-width: 992px) {
  .main {
    display: flex;
  }  
}